body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgba(184, 201, 185, 0.418);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.Layout {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    overflow: hidden;
    background-color: rgba(184, 201, 185, 0.418);
    background-image: url(../assets/mindfulness.svg);
    background-repeat: no-repeat;
    background-position: center;
    min-width: 300px;
    display: flex;
    height: 100vh;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    margin: auto;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border-left: 6px solid rgb(51, 51, 47);
    border-right: 6px solid rgb(51, 51, 47);
}
